// Place all the styles related to the purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-expiration-date-wrap {
  display: flex;
}

.card-num {
  width: 300px;
}

.card-cvc {
  width: 100px;
}

.card-exp {
  width: 210px;
}

.phone-number {
  width: 300px;
}

.other {
  width: 600px;
}