// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tour-img {
  position: relative;
}

.fin {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  transform: skewY(-10deg);
}

.search-form {
  display: flex;
}

.new-tour-date {
  display: flex;
}

.new-tour-country-price {
  width: 320px;
}